.about-container
  display grid
  grid-template-columns .5fr 1.5fr
  align-items center
  border 1px solid white
  height 250px
  padding 20px
  border-radius 10px
  background lightblue
  box-shadow 2px 2px 10px grey

.profile-image
  border-radius 50%
  height 200px
  width 200px
  object-fit cover

.Header-contact-content
  display flex

.About-title
  margin 10px
  font-style italic

.About-item
  color #000
  margin 0 10px
